@using System.Globalization
@using MyWeatherForecast.Models
@model List<IWeatherModel>

@{
    ViewBag.Title = "MyWeatherForecast";
}
<link rel="stylesheet" href="~/Content/mystyle.css">
<br />
<br />

@Html.ValidationSummary(true)
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    @Html.TextBox("cityName", "", new { @class = "form-control", placeholder = "Введите название города" })

    <input type="submit" value="Найти" id="searchWeather" />
}

<body>
    @if (@Model != null && @Model.Count > 0)
    {
        <h2>@ViewData["city"]</h2>
        var date1 = DateTime.Now.ToString(CultureInfo.InvariantCulture);
        <h5>@date1</h5>

        foreach (var weather in @Model)
        {
            <h5>Информация о погоде по данным сервиса @weather.ForecastProvider</h5>
            <table>
                <tr>
                    <td class="tableheader"></td>
                    <td class="tableheader">Температура C</td>
                    <td class="tableheader">Давление, мм</td>
                    <td class="tableheader">Влажность, %</td>
                    <td class="tableheader">Скорость ветра, м/s</td>
                </tr>
                <tr>
                    <td><img src=@weather.ImageUrl></td>
                    <td>@weather.Temperature</td>
                    <td>@weather.Pressure</td>
                    <td>@weather.Humidity</td>
                    <td>@weather.WindSpeed</td>
                </tr>
            </table>
        }
    }

    <div>
        @{
            var citiesCookie = Request.Cookies["cities"];
            if (citiesCookie != null)
            {
                <hr align="left" width="400" />
                <h5>Последние просмотренные города</h5>
                foreach (var item in citiesCookie.Values)
                {
                    string id = item.ToString();
                    string city = citiesCookie.Values[id];
                    @Html.ActionLink(@city, "Index", "Home", new { cityName = @city }, null)
                    @Html.Raw("     ");
                }
            }
        }
    </div>
</body>
